<ion-header>
  <ion-toolbar>
    <ion-title>PantryChef</ion-title>
    <ion-buttons slot="end"></ion-buttons>
    <ion-button routerLink="/home">Go Home</ion-button>
    <ion-button routerLink="/recipe-reviews">Read Reviews</ion-button>
    <ion-button routerLink="/submit-review">Submit a Recipe Review</ion-button>
    <ion-button routerLink="/recipe-search">Search Recipes</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Recipe</ion-label>
    <ion-select [(ngModel)]="selectedRecipeId" (ionChange)="loadReviews()">
      <ion-select-option *ngFor="let recipe of recipes" [value]="recipe.id">{{ recipe.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let review of reviews">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Review by {{review.userId}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Review:</strong> {{review.text}}</p>
          <p><strong>Date:</strong> {{ review.createdAt?.toDate() | date: 'medium' }}</p>
          <img *ngIf="review.imageUrl" [src]="review.imageUrl" alt="Review image" style="width: 150px; height: 150px; object-fit: cover;"/>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
