<ion-header>
  <ion-toolbar>
    <ion-title>PantryChef</ion-title>
    <ion-buttons slot="end"></ion-buttons>
    <ion-button routerLink="/home">Go Home</ion-button>
    <ion-button routerLink="/recipe-reviews">Read Reviews</ion-button>
    <ion-button routerLink="/submit-review">Submit a Recipe Review</ion-button>
    <ion-button routerLink="/recipe-search">Search Recipes</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-ingredient-list (ingredientsSelected)="filterRecipes($event)"></app-ingredient-list>
  <app-recipe-list [recipes]="filteredRecipes"></app-recipe-list>
  
</ion-content>
